body {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
#content {
    display: flex;
    align-content: center;
    flex-direction: column;
}

#info {
    display: flex;
    align-content: center;
    flex-direction: column;
}

.content-element {
    max-width: 720px;
    width: calc(100% - 64px);
    align-self: center;
}

.about-text {
    font-family: "Open Sans";
    font-weight: 500;
    text-decoration: line-through;
}

.outdated-warning {
    font-family: "Open Sans";
    font-weight: 500;
}

.social-icon {
    width: 32px;
    height: 32px;
}

a {
    text-decoration: none;
    color: #454545;
    font-weight: bold;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 800px) {
    .content-element {
        max-width: 90vw;
        width: calc(100% - 64px);
        align-self: center;
    }
  }
