
/* all */

* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    max-width: 100%;

    /* fixes the issue with horizontal scrolling */
    /* overflow-x: hidden; */

    --color-1: #118ca5;
    --color-2: #1AC8ED;
    --color-3: #89043d;
}

a {
    text-decoration: none;
}

.in-text-link {
    text-decoration: none;
    font-weight: 700;
    color: inherit;
}

.in-text-link:hover {
    text-decoration: underline;
}

html {
    scroll-behavior: smooth;
}

.color-border {
    position: absolute;
    width: 100vw;
    height: 5px;
    left: 0;
}

.page {
    position: absolute;
    left: 0;
    height: 105vh;
    width: 100vw;
    min-height: 800px;
}

/* nav bar stuff */
#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5vh;

    background-color: #000000;
    overflow: hidden;
    font-weight: bold;
}

.navbar-item {
    display: flex;
    float: left;
    color: #eeeeee;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
}

.navbar-text {
    color: #eeeeee;
    text-decoration: none;
}

.navbar-text:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* home */

#home {
    top: 0;
    left: 0;
    background-color: #393d3f;

    /* overflow issue fix */
    /* overflow-x: visible; */
}

#name-title {
    position: absolute;
    top: 40vh;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 64px;
    color: #eeeeee;
}

#typewriter-bio {
    position: absolute;
    top: 40vh;
    left: 50%;
    transform: translate(-50%, -50%) translateY(64px);

    font-size: 32px;
    color: #FFFFFF;
}

#social-grid {
    position: absolute;
    top: 40vh;
    left: 50%;
    transform: translate(-50%, -50%) translateY(192px);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social-link {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon {
    width: 100px;
    height: 100px;
}

.social-icon:hover {
    animation: wiggle;
    animation-duration: .2s;
    animation-iteration-count: infinite;
}

@keyframes wiggle {
    0% {transform: rotate(-15deg);}
    50% {transform: rotate(15deg);}
    100% {transform: rotate(-15deg);}
}

/* about */

#about {
    top: 105vh;
    color: #393d3f;
    background-color: #eeeeee;
}

#about-divider {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: row;
    justify-content: center;
}

#about-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20vw;
}

#about-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 100%;
    font-weight: bold;
}

#profpic {
    padding-top: 10px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}


#about-q {
    padding-top: 10px;
    font-size: 56px;
    font-weight: 800;
    text-align: center;
}

.about-text {
    width: 66%;
    font-size: 24px;
}

/* projects */

#projects {
    top: 210vh;
    background-color: #aaaaaa;
    color: #393d3f;
}

#projects-title {
    font-size: 48px;
    margin: 24px;
}

#projects-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project-button {
    display: flex;
    color: #eeeeee;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    font-size: 16px;
}

.project-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

#projects-grid {
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translate(-50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--color-3);
    color: #eeeeee;
}

.projects-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
}

.projects-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 32px;
}

#projects-thumbnail {
    width: 400px;
}

#project-name {
    font-size: 24px;
}

#project-desc {
    font-size: 16px;
}
